<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You have successfully checked out the book: <%= @book.title %>.<br></h1>
<p>

</p>
</body>
</html>