<div class="table table-bordered table-striped px-md-6 container  py-5 h-100">
<h1>Editer Admin</h1>

<%= render 'form', admin: @admin %>

<!--<%= link_to 'Afficher', @admin %> |-->
<%= link_to 'Retour', admins_path, class:"p-2 mb-2 bg-success text-white" %>
