<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<p id="notice"><%= notice %></p>

<h1>Panneau d'Administration</h1>

Nom: <%= current_admin.name %><br>
Email: <%= current_admin.email %><br> 
