<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Nouvel Etudiant</h1>

<%= render 'form', student: @student %>

<% if current_admin.nil? %>
<%= link_to 'Retour', students_path, class:"p-2 mb-2 bg-success text-white" %>
<% end %>