<h1>BIENVENUS SUR BIBLIO-CFPT</h1>
<table>
	<th><strong>Votre Bibliothèque en Ligne</strong></th>
	<tr><td></td><tr>
    <tr><td></td><tr>
    <tr><td><strong>Students</strong></td><tr>
    <tr><td><%= link_to 'Student Login (via Email or Google)', new_student_session_path %></td></tr>
	<tr><td></td><tr>
    <tr><td></td><tr>
	<tr><td><strong>Librarians</strong></td><tr>
    <tr><td><%= link_to 'Librarian Login', new_librarian_session_path %></td></tr>
	<tr><td></td><tr>
    <tr><td></td><tr>
	<tr><td><strong>Administrator</strong></td><tr>
    <tr><td><%= link_to 'Admin Login', new_admin_session_path %></td></tr>
</table>
