<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Editer le Livre</h1>

<%= render 'form', book: @book %>

<%= link_to 'Afficher', @book %> |
<%= link_to 'Retour',show_books_path%>
