<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Nouveau Livre</h1>

<%= render 'form', book: @book %>

<%= link_to 'Retour', books_path, class:"p-2 mb-2 bg-primary text-white" %>
