<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1> Historique du Livre</h1>
<table>
  <thead>
    <tr>
      <th>Nom Etudiant</th>
      <th>Titre</th>
      <th>Date Sortie</th>
      <th>Date Retour</th>
      
    </tr>
  </thead>

  <tbody>
  <% if !@checkouts.nil? %>
    <% @checkouts.each do |checkout| %>
      <tr>
        <td><%= Student.find(checkout.student_id).name %></td>
        <td><%= Book.find(checkout.book_id).title %></td>
        <td><%= checkout.issue_date %></td>
        <td><%= checkout.return_date %></td>
      </tr>
    <% end %>
  <%end%>
  </tbody>
