<style>
.center {
    margin: 15%;
    text-align: center; 
  }

  .message {
    color: #808282;
  }
  </style>
</head>

<body class="center">
  <img src="/500.png">
  <p class="message">Une erreur s'est produite dans le serveur.</p>
</body>
</html>


<!--<h1>Errors#internal_server_error</h1>
<p>Find me in app/views/errors/internal_server_error.html.erb</p>-->
