<style>
.center {
    margin: 15%;
    text-align: center; 
  }

  .message {
    color: #808282;
  }
  </style>
</head>

<body class="center">
  <img src="/404.png">
  <p class="message">La page que vous recherchez est introuvable.</p>
</body>
</html>

<!--<h1>Errors#not_found</h1>
<p>Find me in app/views/errors/not_found.html.erb</p>-->
