<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Editer un Bibliothècaire</h1>

<%= render 'form', librarian: @librarian %>

<% if current_admin.nil? %>
<%= link_to 'Show', @librarian %> |
<%= link_to 'Back', librarians_path %>
<% else %>
<%= link_to 'Back', show_librarians_path %>
<% end %>
