<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<p id="notice"><%= notice %></p>

<h1>Panneau d'administration du Libraire</h1>
Name: <%= current_librarian.name %><br>
Email: <%=  current_librarian.email %><br>


