<div class="table table-bordered table-striped px-md-2 container  py-5 h-100">
<h1>Nouveau Bibliothècaire</h1>

<%= render 'form', librarian: @librarian %>

<% if current_admin.nil? %>
	<%= link_to 'Retour', librarians_path %>
<% end %>